.flex{
    display: flex;
}
.justifyCenter{
    justify-content: center;
}
.aHeader{
    text-decoration: none;
    padding: 30px;
    list-style: none;
}
.liHeader{
    list-style: none;
}
.h1{
    text-align: center;
}
.center {
    text-align: center;
}
.livre{
    padding-bottom: 10px;
    margin: 20px;
    background-color: darkgray;
}
.date{
    display: block;
}
.header{
    background-color: grey;
}
.border{
    border: black solid 1px;
    border-radius: 20px;
}
.aLivres{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.divImg{
    display: block;
    margin: 0 auto;
    width: 400px;
}

.coverImg{
    width: 400px;
    text-align: center;
}
.articleLivre{
    justify-content: space-evenly;
    background-color: darkgrey;
}
.infoLivre{
    padding: 100px;
    background-color: lightgray;
}
.synopsis{
    text-align: center;
    padding: 100px;
}