
.flex{
    display: flex;
}
.justifyCenter{
    justify-content: center;
}
.aHeader{
    text-decoration: none;
    padding: 30px;
    list-style: none;
}
.ulHeader{
    justify-content: space-around;
}
.liHeader{
    list-style: none;
    padding: 30px;
    justify-content: space-between;
    background-color: #e0e0e0;
}
.liHeader:hover {
    background-color: lightgray;
    color: #DDDDDD;
    font-family: Arial;

}
.h1{
    text-align: center;
}
.center {
    text-align: center;
}

.livre{
    padding-bottom: 10px;
    margin: 20px;
    background-color: darkgray;
    width: 25%;
}
.date{
    display: block;
}
.header{
    background-color: grey;
}
.border{
    border: black solid 1px;
    border-radius: 20px;
}
.aLivres{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #DDDDDD;
    font-family: Arial;
    text-decoration: none;
}
.aLivres:hover{
    background-color: grey;
    color: #DDDDDD;
    font-family: Arial;
}

.divImg{
    display: block;
    margin: 0 auto;
    width: 200px;
}

.coverImg{
    width: 400px;
    text-align: center;
}
.articleLivre{
    justify-content: space-evenly;
    background-color: darkgrey;
}
.infoLivre{
    padding: 100px;
    background-color: lightgray;
}
.synopsis{
    text-align: center;
    padding: 100px;
}
.imgList{
    width: 200px;
    text-align: center;
}
.block{
    display: block;
    margin: 0 auto;
    width: 100px;
}
.menuHeader{
    background-color: #999999;
}
