{# je prépare un squelette html de ma page qui contient mon header, mon footer, en indiquant des trous et les elements du squelette qui sont susceptible de varier au cours des pages #}
{# grace a des "Blocs" #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% block css %}"{{ asset('style.css') }}"{% endblock css %}>
    <title> {%block title %} Document {% endblock title %} </title>
</head>
<header class="Header">
    <nav class="menuHeader border">
        <ul class="flex ulHeader">
            <li class="liHeader border">
                <a class="aHeader" href="{{ path('home') }}">Home</a>
            </li>
            <li class="liHeader border">
                <a class="aHeader" href="{{ path('livres') }}">Livres</a>
            </li>
            <li class="liHeader border">
                <a class="aHeader" href="{{ path('auteurs') }}">Auteurs</a>
            </li>
        </ul>
    </nav>
</header>
<body class="body">
    {% block main %}
    {% endblock main %}
</body>
</html>
<footer>
</footer>