{% extends 'base.html.twig' %}
{% block title%}
{% endblock title %}

{% block main %}
    <body>
        <div class="divLivre">
              <h1 class="center">{{livre.title}}</h1>
              <p class="center"> {{ livre.author}}</p>
              <em class="center date">Publié le:{{ livre.publishedAt|date('d/m/y')}}</em>
git add.
        </div>
    </body>
{% endblock main %}